.item {
    width: calc(20% - 20px);
    display: inline-block;
    margin: 0 10px 20px;
    position: relative;
    border-radius: 8px;
    vertical-align: top
}

@media screen and (max-width: 850px) {
    .item {
        width: calc(25% - 10px);
        margin: 0 5px 20px
    }
}

@media screen and (max-width: 550px) {
    .item {
        width: calc(33.33333% - 10px)
    }
}

@media screen and (max-width: 350px) {
    .item {
        width: calc(50% - 10px)
    }
}

.item.best:first-child .cover:after {
    background: #ffa200
}

.item.best:nth-child(2) .cover:after {
    background: #7b7b7b
}

.item.best:nth-child(3) .cover:after {
    background: #8b6a25
}

.item.best:first-child .cover:after {
    content: "Bestseller #1"
}

@media screen and (max-width: 450px) {
    .item.best:first-child .cover:after {
        content: "#1"
    }
}

.item.best:nth-child(2) .cover:after {
    content: "Bestseller #2"
}

@media screen and (max-width: 450px) {
    .item.best:nth-child(2) .cover:after {
        content: "#2"
    }
}

.item.best:nth-child(3) .cover:after {
    content: "Bestseller #3"
}

@media screen and (max-width: 450px) {
    .item.best:nth-child(3) .cover:after {
        content: "#3"
    }
}

.item.trending:first-child .cover:after {
    background: #ffa200
}

.item.trending:nth-child(2) .cover:after {
    background: #7b7b7b
}

.item.trending:nth-child(3) .cover:after {
    background: #8b6a25
}

.item.trending:first-child .cover:after {
    content: "Trending #1"
}

@media screen and (max-width: 450px) {
    .item.trending:first-child .cover:after {
        content: "#1"
    }
}

.item.trending:nth-child(2) .cover:after {
    content: "Trending #2"
}

@media screen and (max-width: 450px) {
    .item.trending:nth-child(2) .cover:after {
        content: "#2"
    }
}

.item.trending:nth-child(3) .cover:after {
    content: "Trending #3"
}

@media screen and (max-width: 450px) {
    .item.trending:nth-child(3) .cover:after {
        content: "#3"
    }
}

.item.best .cover:after, .item.trending .cover:after {
    color: #fff;
    position: absolute;
    font-size: 13px;
    top: 0;
    left: 0;
    padding: 7px 13px;
    border-radius: 5px 0 5px 0
}

@media screen and (max-width: 700px) {
    .item.best .cover:after, .item.trending .cover:after {
        padding: 5px 10px
    }
}

.item .cover:hover {
    transform: scale(1.03)
}

@media screen and (max-width: 1036px) {
    .item .cover:hover {
        transform: none
    }
}

.item .cover {
    position: relative;
    display: inline-block;
    transition: .1s;
    width: 100%
}

.item .cover .clock, .item .cover .promo {
    background: #ff5400;
    font-size: 13px;
    position: absolute;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px 0;
    font-weight: 700;
    max-width: 60%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.item .cover .clock {
    background: #4c4c4c;
    width: auto
}

.item .cover .clock.delivered {
    background: #4fbb1b
}

.item .cover img {
    width: 100%;
    border-radius: 8px
}

.item .cover img.dlc {
    top: 0;
    left: 0;
    position: absolute;
    width: 30%;
    border-radius: 8px 0 0 0
}

.item .badge {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1
}

.item .shadow {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 80px;
    box-shadow: inset 0 -60px 30px -30px rgba(0, 0, 0, .4);
    border-radius: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end
}

.item .discount {
    background-color: #004abb;
    padding: 5px 7px;
    font-size: 16px;
    color: #fff;
    bottom: -3px;
    left: -3px;
    position: absolute;
    font-weight: 700;
    border-radius: 5px
}

@media screen and (max-width: 600px) {
    .item .discount {
        padding: 5px 6px;
        font-size: 13px
    }
}

.item .price {
    color: #fff;
    bottom: 3px;
    right: 9px;
    position: relative;
    font-size: 19px;
    font-weight: 700;
    text-shadow: 0 0 4px #000;
    margin-left: auto
}

@media screen and (max-width: 600px) {
    .item .price {
        font-size: 13px;
        bottom: 3px
    }
}

.item .name {
    color: black;
    font-weight: bold;
    font-size: 13px;
    margin-top: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center
}

@media screen and (max-width: 700px) {
    .item .name {
        display: none
    }
}

.item:not(.force-badge) .cover .badge {
    display: none
}

.badge {
    width: 31px;
    height: 31px;
    border-radius: 100%;
    background-image: url(https://www.instant-gaming.com/themes/igv1/images/platform-icons18.png);
    background-repeat: no-repeat;
    background-size: 35px;
    flex: none;
    display: block;

}

.badge.Steam {
    background-color: #000;
    background-position: -7px -5px
}

.badge.Origin {
    background-color: #f50;
    background-position: -6px -75px
}

.badge.Ubisoft {
    background-color: #00a2ff;
    background-position: -7px -38px
}

.badge.Battle {
    background-color: #2e64ca;
    background-position: -6px -110px
}

.badge.Indies-com {
    background-color: #ce0000;
    background-position: -6px -148px
}

.badge.Others {
    background-color: #777;
    background-position: -2px -174px
}

.badge.Ncsoft {
    background-color: #8e8e8e;
    background-position: -6px -231px
}

.badge.Gog {
    background-color: #ae00ff;
    background-position: -5px -268px
}

.badge.Other {
    background-color: #777;
    background-position: -2px -173px
}

.badge.Rockstar {
    background-color: #f6ac33;
    background-position: -1px -393px
}

.badge.Software {
    background-color: #0079d7;
    background-position: -2px -488px
}

.badge.Microsoft-store {
    background-color: #fff;
    background-position: -2px -488px
}

.badge.Epic {
    background-color: #0078f2;
    background-position: -2px -522px
}

.badge.Bethesda {
    background-color: #484848;
    background-position: 4px -363px;
    background-size: 23px
}

#ig-main-container {
    width: 1036px;
    margin: 0 auto;
    background: #eee;
    position: relative;
    box-shadow: 0 0 3px rgba(0, 0, 0, .39);
    border-radius: 10px
}

@media screen and (max-width: 1036px) {
    #ig-main-container {
        width: 100%
    }
}

.ig-wrapper {
    max-width: 1036px;
    margin: 0px auto;
    position: relative
}

#game{
    margin-top: 50px;
}
.ig-mainwrapper {
    box-sizing: border-box;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px 8px 8px 8px;
    position: relative;
    z-index: 1
}

.ig-mainwrapper.rounded {
    border-radius: 8px
}

.ig-mainwrapper.forced {
    border-radius: 9px
}



@media screen and (max-width: 850px) {
    .ig-mainwrapper {
        padding: 10px
    }
}

.act-shop .ig-mainwrapper {
    padding: 0;
    min-height: 700px
}

#backgroundLink {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 160px;
    left: 0
}

@media screen and (max-width: 1036px) {
    #backgroundLink {
        display: none
    }
}


.title-block {
    display: flex;
    justify-content: space-between;
    color: #777;
    margin-bottom: 10px;
    align-items: center
}

.title-block .category {
    color: #000;
    position: relative;
    font-weight: 700;
    font-size: 17px;
    margin: 4px 0
}

.title-block .category:first-of-type {
    padding-right: 10px
}

@media screen and (max-width: 550px) {
    .title-block .category {
        font-size: 15px
    }
}

.products-trending {
    text-align: center
}

.viewmore {
    font-size: 13px;
    padding: 5px 10px;
    font-weight: 400;
    border-radius: 50px;
    font-weight: 700;
    color: #ffffff;
    background-color: #000;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, .5)
}

.viewmore:hover {
    background-color:#004abb;
    color: #ffffff;
}

.basic-panel {
    font-size: 0;
    margin: 0 -10px 30px;
    position: relative
}

@media screen and (max-width: 850px) {
    .basic-panel {
        margin: 0 -5px 20px
    }
}

@media screen and (max-width: 550px) {
    .basic-panel .item:nth-last-child(-n+2) {
        display: inline-block
    }
}




.ig-sections-main-content, .mainshadow {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.76)
}

#nav{
    background-color: #000;
}



li,a,div{
    color: #0068ff;
}

#backgroundLink.fixed, #backgroundLink.payment.fixed {
    position: fixed;
    top: 0
}



.footer .links a.sublinks {
    color: #fff;
    border-right: 1px solid hsla(0, 0%, 100%, .2);
    margin-right: 10px;
    padding-right: 10px;
    height: 17px
}



.footer .links a.sublinks:hover {
    color: #0068ff;
}

.footer .links a.sublinks:last-of-type {
    margin-right: 0;
    border: none;
    padding-right: 0
}

.footer .links {


}

.ig-footer-separator {
    color: #636363;
    padding: 1px 1px
}

.socials {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}



.socials a {
    height: 50px;
    width: 50px;
    display: inline-block;
    border-radius: 33px;
    transition: .1s;
    margin: 5px
}

@media screen and (max-width: 750px) {
    .socials a {
        margin: 50px 5px 5px 5px;
    }
}


.socials span {
    display: block;
    color: #777;
    margin-bottom: 2px
}

.socials a.instagram {
    background: url(/assets/img/insta.png);
    background-size: 50px
}

.socials a.facebook {
    background: url(/assets/img/social.png) 0 0;
    background-size: 50px
}

.socials a.twitter {
    background: url(/assets/img/social.png) 0 150px;
    background-size: 50px
}

.socials a.twitch {
    background: url(/assets/img/social.png) 0 200px;
    background-size: 50px
}

.socials a.youtube {
    background: url(/assets/img/social.png) 0 100px;
    background-size: 50px
}


.socials a.extension.firefox {
    display: none
}

.socials a:hover {
    transform: scale(1.15)
}

.footer-container {
    position: relative;
    padding: 0px 0 0px;
    margin-top: 20px;
    height: 300px;
}

.partner-container .partner-interface-container .integration-container .tabs-container .tab .discord-template .content .embed .product {
    display: flex;
    justify-content: space-between;
    font-size: 13px
}

.partner-container .partner-interface-container .integration-container .tabs-container .tab .discord-template .content .embed .product a {
    font-size: 15px;
    color: #1da2d6;
    margin-bottom: 10px;
    font-weight: 700;
    margin-top: 3px;
    display: inline-block
}

.partner-container .partner-interface-container .integration-container .tabs-container .tab .discord-template .content .embed .product p {
    line-height: 18px
}

.partner-container .partner-interface-container .integration-container .tabs-container .tab .discord-template .content .embed .product img {
    width: 55px;
    margin: 5px 4px 5px 10px
}

@media screen and (max-width: 450px) {
    .partner-container .partner-interface-container .integration-container .tabs-container .tab .discord-template .content .embed .product img {
        display: none
    }
}

.product {
    display: flex;
    border-radius: 8px
}

@media screen and (max-width: 750px) {
    .product {
        flex-direction: column;
        margin: -10px -10px 0
    }
}

@media screen and (max-width: 450px) {
    .product {
        margin: -10px -10px 0
    }
}

.product .blur {
    position: relative;
    width: 40%;
    border-radius: 8px;
    overflow: hidden
}

@media screen and (max-width: 750px) {
    .product .blur {
        width: 100%;
        overflow: hidden;
        border-radius: 8px 8px 0 0
    }
}

.product .blur .promo {
    background: #ff5400;
    font-size: 13px;
    position: absolute;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px 0;
    font-weight: 700;
    max-width: 60%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 1
}

.product .blur .background {
    filter: blur(20px);
    position: absolute;
    width: 100%;
    top: -50%;
    transform: scale(1.1);
    display: none
}

@media screen and (max-width: 750px) {
    .product .blur .background {
        display: initial
    }
}

@media screen and (max-width: 550px) {
    .product .blur .background {
        transform: scale(1.3)
    }
}

.product .cover {
    display: flex
}

@media screen and (max-width: 750px) {
    .product .cover {
        display: block;
        margin: 10px auto;
        width: 120px;
        height: 167px;
        overflow: hidden;
        border-radius: 8px;
        position: relative;
        z-index: 2
    }
}

.product .cover .promo {
    background: #ff5400;
    padding: 5px 10px;
    border-radius: 5px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.product .cover .clock, .product .cover .promo {
    font-size: 13px;
    position: absolute;
    color: #fff;
    font-weight: 700
}

.product .cover .clock {
    background: #000;
    border-radius: 5px;
    z-index: 1;
    top: -7px;
    text-align: center;
    padding: 4px 12px;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid #eee
}

@media screen and (max-width: 750px) {
    .product .cover .clock {
        display: none
    }
}

.product .cover .dlc {
    width: 30%;
    position: absolute;
    left: 0
}

@media screen and (max-width: 750px) {
    .product .cover .dlc {
        display: none
    }
}

.product .cover .picture, .product .infos {
    width: 100%;
    border-radius: 8px
}

.product .infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-left: 20px;
    background: #fff;
    overflow: hidden
}

@media screen and (max-width: 850px) {
    .product .infos {
        margin-left: 10px
    }
}

@media screen and (max-width: 750px) {
    .product .infos {
        width: calc(100% - 40px);
        margin-left: 20px;
        border-radius: 0 0 8px 8px
    }
}

.product .infos h1 {
    color: #000;
    font-size: 21px;
    font-weight: 700;
    margin: 20px 0 6px;
    width: 100%;
    text-align: center
}

@media screen and (max-width: 750px) {
    .product .infos h1 {
        font-size: 17px
    }
}

.product .infos .subinfos {
    border: 1px solid rgba(62, 62, 62, .2);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 10px 0;
    background: rgba(0, 0, 0, .04);
    flex-wrap: wrap;
    padding: 5px
}

.product .infos .subinfos .badge {
    position: absolute;
    top: 0;
    left: 0
}

@media screen and (max-width: 750px) {
    .product .infos .subinfos .badge {
        top: -4px
    }
}

.product .infos .subinfos .download, .product .infos .subinfos .preorder {
    display: inline-block;
    padding: 8px 17px 7px 15px;
    border-right: 1px solid rgba(62, 62, 62, .23);
    vertical-align: top;
    font-weight: 700;
    font-size: 13px;
    color: #000
}

@media screen and (max-width: 750px) {
    .product .infos .subinfos .download, .product .infos .subinfos .preorder {
        padding: 4px 11px 3px
    }
}

@media screen and (max-width: 450px) {
    .product .infos .subinfos .download, .product .infos .subinfos .preorder {
        border-right: 0;
        padding: 4px 0 3px 11px
    }
}

.product .infos .subinfos .download.nostock, .product .infos .subinfos .preorder.nostock {
    color: #ff4256
}

.product .infos .subinfos .download img {
    margin-right: 6px;
    width: 14px
}

.product .infos .subinfos .download:last-of-type {
    border-right: 0;
    padding-right: 0
}

.product .infos .subinfos .download.nostock img {
    vertical-align: top
}

.product .infos .subinfos .preorder {
    border-right: 0;
    padding-right: 0
}

.product .infos .subinfos .platform {
    position: relative;
    color: #000;
    padding: 8px 14px 7px 38px;
    display: inline-block;
    border-right: 1px solid rgba(62, 62, 62, .23);
    font-weight: 700;
    font-size: 13px;
    margin: 5px 0
}

.product .infos .subinfos .platform.free-to-play {
    border: 0;
    padding-right: 0
}

.product .infos .subinfos .platform:hover {
    color: #ff5400
}

.product .infos .subinfos .platform:hover .badge {
    background-color: #ff5400
}

.product .infos .subinfos .platform:hover .badge.rockstar {
    background-position: -1px -424px
}

.product .infos .subinfos .platformhover span {
    border: 1px solid rgba(255, 84, 0, .44)
}

@media screen and (max-width: 750px) {
    .product .infos .subinfos .platform {
        padding: 4px 12px 3px 38px
    }

    .product .infos .subinfos .platform span {
        top: 3px
    }
}

.product .infos .subinfos .platform span {
    border: 1px solid #b3b3b3;
    border-radius: 100%;
    height: 16px;
    width: 16px;
    display: inline-block;
    margin-left: 5px;
    font-size: 12px;
    line-height: 17px;
    position: absolute;
    top: 7px
}

.product .infos .container {
    display: flex;
    flex-direction: column;
    align-items: center
}



.product .indie, .product .weekpromo {
    border: 1px solid #ff5400;
    color: #ff5400;
    border-radius: 3px;
    font-size: 11px;
    display: inline-block;
    margin: 5px
}

.product .weekpromo {
    padding: 5px 12px;
    background-size: 27px
}


@media screen and (max-width: 750px) {
    .product .dlc-mobile {
        display: block
    }
}

.product .choices {
    margin: 6px 0;
    font-size: 0;
    text-align: center
}

.product .choices hr {
    height: 0;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .14);
    margin: 7px 5px
}

.product .choices .platforms {
    display: inline-block
}

.product .choices .button {
    border-radius: 5px;
    padding: 6px 12px 5px;
    margin: 4px;
    font-size: 13px;
    position: relative;
    text-transform: capitalize;
    background: #000
}

.product .choices .button.edition {
    cursor: text
}

.product .choices .button:before {
    background: 0 0;
    content: "";
    display: inline-block;
    position: absolute;
    top: -5px;
    left: -5px;
    bottom: -5px;
    right: -5px
}

.product .choices .button span:first-child {
    position: relative;
    border-right: 1px solid #fff;
    margin: 0 6px 0 2px;
    opacity: .2
}

.product .choices a.button {
    background: #949494
}

.product .choices a.button:hover {
    box-shadow: inset 0 0 0 2px #000
}

.product .availability, .product .languages {
    color: #777;
    margin: 10px 0;
    font-size: 13px;
    display: flex
}

.product .availability {
    font-size: 13px
}

.product .languages {
    align-items: center
}

.product .languages span {
    border-right: 1px solid #c7c7c7;
    padding: 1px 10px 2px;
    margin-right: 10px
}

.product .languages img {
    margin: 0 3px;
    max-width: 18px
}

.product .languages img:last-of-type {
    margin-right: 0
}

.product .tags {
    font-size: 0;
    text-align: center;
    margin: 6px 0
}

.product .tags a:not(.moretags):nth-child(n+6) {
    display: none
}

.product .tags .moretags, .product .tags a {
    border: 1px solid hsla(0, 0%, 46.7%, .65);
    color: #777;
    border-radius: 3px;
    font-size: 11px;
    padding: 5px 12px;
    display: inline-block;
    margin: 4px;
    cursor: pointer;
    vertical-align: top
}

.product .tags .moretags:hover, .product .tags a:hover {
    border: 1px solid #ff5400;
    color: #ff5400
}

.product .tags.showall a:not(.moretags):nth-child(n+6) {
    display: inline-block
}

.product .tags a.tag42 {
    padding-left: 35px
}

.product .tags a.tag42:hover:before {
    background-color: #ff5400
}

.product .tags .moretags {
    background: 0 0
}

.product .buy {
    margin-top: 10px;
    text-align: center;
    display: flex;
    width: calc(100% + 40px);
    background: #000;
    padding: 15px;
    min-height: 60px
}

@media screen and (max-width: 550px) {
    .product .buy {
        flex-direction: column;
        width: calc(100% + 20px)
    }
}

.product .buy .prices {
    text-align: right;
    white-space: nowrap;
    margin-right: 25px;
    margin-left: 10px
}

@media screen and (max-width: 550px) {
    .product .buy .prices {
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 15px;
        text-align: center
    }
}

.product .buy .prices .retail {
    font-size: 14px;
    color: #777;
    margin-bottom: 6px
}

.product .buy .prices .discount {
    font-size: 23px;
    color: #004abb;
}

.product .buy .prices .discount, .product .buy .prices .price {
    display: inline-block;
    position: relative;
    top: 3px;
    font-weight: 700
}

.product .buy .prices .price {
    font-size: 39px;
    line-height: 34px;
    margin-left: 5px;
    margin-top: 0;
    color: #fff
}

.product .buy .swap {
    display: flex;
    width: 100%
}

.product .buy .swap .free-to-play {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    align-self: center;
    width: 100%
}

.product .buy .notifstock {
    width: 100%;
    display: flex
}

.product .buy .notifstock.alreadyok {
    background-color: rgba(128, 255, 1, .2784313725490196);
    color: #9f5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    border-radius: 5px;
    padding: 0 15px;
    line-height: 20px
}

.product .buy .notifstock a, .product .buy .notifstock input[type=submit] {
    font-size: 15px;
    white-space: normal
}

.product .buy .notifstock a:hover, .product .buy .notifstock input[type=submit]:hover {
    cursor: pointer
}

.product .buy .notifstock form {
    width: 100%
}

.product .buy .buybutton.nostock {
    opacity: .5
}

.product .buy .prices.nostock {
    display: none
}

.product .buy .button {
    font-size: 19px;
    width: 100%;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    line-height: 20px
}

@media screen and (max-width: 450px) {
    .product .buy .button {
        font-size: 17px
    }
}

@media screen and (max-width: 300px) {
    .product .buy .button {
        font-size: 15px
    }
}


.product .buy .button.addwishlist:hover {
    background-size: 22px
}



.product .drop {
    background-color: rgba(33, 140, 201, .2);
    border: 1px solid #218cc9;
    color: #218cc9;
    font-size: 13px;
    padding: 15px 20px;
    border-radius: 8px;
    align-items: center;
    display: flex;
    margin: 10px 0
}

.product .drop img {
    margin-right: 10px;
    width: 20px
}

.product .quick {
    font-size: 13px;
    margin: 2px 0 10px;
    color: #777;
    text-align: center
}

.product .quick img {
    position: relative;
    top: 3px;
    left: -3px;
    width: 11px
}

.product .quick span {
    border-right: 1px solid #c7c7c7;
    padding: 1px 0 2px;
    margin: 0 10px
}

#descripcion h2,b{
    color: #004abb;
}

#descripcion p{
    color: black;
}

#descripcion{
padding: 20px;
}
.information{
    padding: 30px;
}
#ig-product-desc-content{
    border-radius: 50px;
}

.product .buy .button {
    font-size: 19px;
    width: 100%;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    line-height: 20px
}

@media screen and (max-width: 450px) {
    .product .buy .button {
        font-size: 17px
    }
}

@media screen and (max-width: 300px) {
    .product .buy .button {
        font-size: 15px
    }
}


.product .buy .button.addwishlist:hover {
    background-size: 22px
}
.buybutton{
    background-color: #004abb;
    color: white;
    border-radius: 50px;
}

.buybutton:hover{
    background-color: #2e6fd5;
    color: white;
}

.not-active {
    pointer-events: none;
    cursor: default;
    background-color: gray;
}

.noStock{
    -webkit-filter: grayscale(1); /* Webkit */
    filter: gray(1);
    filter: grayscale(1);
}

.select-css {

    line-height: 1.3;
    width: 220px;
    height: 70px;
    box-sizing: border-box;
    margin: 10px auto;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
    border-radius: .3em;
}

.selects{
    display: flex;
}

.hint{
    display: none;
}

#botonJuegos{
    line-height: 1.3;
    color: black;
    width: 220px;
    height: 70px;
    box-sizing: border-box;
    margin: 40px auto;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
    border-radius: .3em;
    padding: 10px;
    font-size: 17px;
}

#search{
    margin-bottom: 20px;
}

#ningunJuego{
    margin-bottom: 40px;
}

#searchs{
    border-radius: 20px;
    width: 500px;
    height: 40px;
}

@media screen and (max-width: 1200px) {
    #searchs{
        width: 100px;
    }
}

@media screen and (max-width: 1400px) {
    #searchs{
        border-radius: 20px;
        width: 300px;
        height: 40px;
    }
}
